
<ul>
  <li> <%= cat.name  %></li>
  <li> <%= cat.id  %></li>
  <li> <%= cat.birth_date  %></li>
  <li> <%= cat.color  %></li>
  <li> <%= cat.sex %></li>
  <li> <%= cat.description %></li>
  <li> <%= cat.created_at %></li>
  <li> <%= cat.updated_at %></li>
  <a href='<%= edit_cat_url(cat) %>'>Make some changes to this cat</a>
</ul>